<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <title>Weather App</title>
</head>

<body style="background-color: lightblue;">
  <form method="post" action="/city" style="width: 40%;margin: auto;">
    <h2 style="text-align: center;color: gray;font-size: 25px;"> CHECK WEATHER FOR YOUR CITY IN NEXT 5 DAYS </h2>
    <div class="input-group mb-3">

      <input type="text" name="city" style="background-color: lightblue;border:1px solid gray" class="form-control"
        placeholder="Enter city name(ex: Belgrade, Moscow, London)" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" style="border: 1px solid gray;" type="submit"
          id="button-addon2">Show</button>
      </div>
    </div>
  </form>
  <div class="row  justify-content-center">
    <% if(locals.weather){ %>
      <% for(var i=0; i<5 ; i++) { %>
        <div class="col-md-2 col-sm-6 justify-content-center" style="display: inline-block;">
          <div class="card">
            <div class=" card-body">
              <h5 class="card-title">
                <%= weather[i].date %>
              </h5>
              <img width="100px" height="100px" src="http://openweathermap.org/img/w/<%= weather[i].icon %>.png"
                alt="Image">
              <p class="card-text">Max: <%= Math.trunc(weather[i].temp_max) %>°C | Min: <%=
                    Math.trunc(weather[i].temp_min) %>°C </p>
            </div>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>
  <hr>
</body>

</html>