body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.day{
  width: 150px;
  height: 200px;
  margin:auto;
  display: inline-block;
  margin-right: 5%;
  border: 1px solid gray;
}